@model HomeViewModel

@{
    Layout = "_LayoutIndex";
}

<div class="full-width main-jumbotron">
    <div class="w-100 h-100 p-0 m-0 lead-back-shadow-gradient full-width">
        <div class="jumbotron">
            <div class="container lead-shadow-gradient text-light text-center py-5">
                <h1 class="display-3">
                    <strong>Kamil Klosowski</strong>
                </h1>
                <p class="lead">Full Stack Web Developer, enthusiast Data Scientist.</p>
                <hr class="my-4 w-50">
                <p></p>
                <a class="btn btn-secondary btn-lg" id="ctaButton" role="button">Learn more</a>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="container body-content rounded mt-5 pt-3 body-shadow" id="mainContent">

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center mx-auto">
                <h2><span class="ion-minus"></span>Projects<span class="ion-minus"></span></h2>
            </div>
        </div>
        <div class="card-deck row d-flex justify-content-around" id="project-deck">
            @foreach (var project in Model.Projects)
            {
                <div class="card text-center">
                    <img class="card-img-top " src="@project.ImageUrl" alt="Project Thumbnail">
                    <div class="card-body pb-2">
                        <h4 class="card-title">
                            <a asp-controller="Project" asp-action="Index" asp-route-id="@project.Id">@project.Title</a>
                        </h4>
                        <p class="card-text text-justify p-2">@project.ShortDescription</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 pt-0 pb-3 my-auto">
                        <div class="d-flex justify-content-around">
                            <a class="btn btn-default" asp-controller="Project" asp-action="Index" asp-route-id="@project.Id">Read More</a>
                            <a class="btn btn-default" href="@project.GithubUrl">Github</a>
                        </div>
                    </div>
                </div>
            }
            
            <div class="card text-center">
                <img class="card-img-top" src="./images/github_logo.svg" alt="Project Thumbnail">
                <div class="card-body pb-2">
                    <h4 class="card-title">Other Projects</h4>
                    <p class="card-text text-justify p-2">Feel free to check out any of my other projects on my Github page.</p>
                </div>
                <div class="card-footer bg-transparent border-0 pt-0 pb-3 my-auto">
                    <div class="d-flex justify-content-around">
                        <a class="btn btn-default" href="www.github.com/kklosowski">Github</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="pt-5 mt-5"/>
    </div>


    <div class="jumbotron w-100 bg-dark">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2 text-center mx-auto py-5">
                <h2 class="text-light"><span class="ion-minus"></span>Technologies I use<span class="ion-minus"></span></h2>
                    <table class="table table-borderless bg-transparent text-left text-light border-0">
                        <tr>
                            <th>Front End</th>
                            <td>
                                HTML, CSS, SASS, JavaScript ESNext, JQuery, Bootstrap, React, Redux, ContextAPI, Web UI/UX Design, Adobe XD
                            </td>
                        </tr>
                        <tr>
                            <th>C#</th>
                            <td>C# 8, .NET Core 2.2, Entity Framework Core 2.1, NUnit</td>
                        </tr>
                        <tr>
                            <th>Machine Learning</th>
                            <td>Python 3.7, TensorFlow, Keras, NumPy, Matplotlib, Scikit-Learn, Pandas</td>
                        </tr>        
                        <tr>
                            <th>Java</th>
                            <td>Java SE11 & EE8, Spring, Hibernate, JUnit, Android, JavaFX, Maven, Swing </td>
                        </tr>
                        <tr>
                            <th>Databases</th>
                            <td>MySQL, MSSQL, SQLite</td>
                        </tr>                       

                        <tr>
                            <th>DevOps</th>
                            <td>
                                Git, Docker, Kubernetes, TeamCity, Azure, AWS 
                            </td>
                        </tr>
                    </table>

            </div>
        </div>
    </div>

    <div class="container body-content py-4 my-5 rounded body-shadow">
        <!--zigzag section-->
        <div class="row" id="zigzag">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center mx-auto pt-2">
                        <h2><span class="ion-minus"></span>My Education<span class="ion-minus"></span></h2>
                    </div>
                </div>
                <!--first section-->
                <div class="row align-items-center how-it-works d-flex">
                    <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                        <div class="circle font-weight-bold">1</div>
                    </div>
                    <div class="col-6">
                        <h5>Technical School of Communications in Cracow (2012-2016)</h5>
                        <p>Computer technician diploma obtained after finishing a four-year technical school, consisting of three separate certificates: E.12 Computer Assembly, E.13 Network Administration and E.14 Web Development. (Comparable to NVQ3) </p>
                    </div>
                </div>
                <!--path between 1-2-->
                <div class="row timeline">
                    <div class="col-2">
                        <div class="corner top-right"></div>
                    </div>
                    <div class="col-8">
                        <hr/>
                    </div>
                    <div class="col-2">
                        <div class="corner left-bottom"></div>
                    </div>
                </div>
                <!--second section-->
                <div class="row align-items-center justify-content-end how-it-works d-flex">
                    <div class="col-6 text-right">
                        <h5>Jagiellonian University .NET Development Course organized by Microsoft (2014-2015)</h5>
                        <p>Junior .Net Developer certificate obtained after a one-year course organized by Microsoft at Jagiellonian University. Course revolved around both desktop and web development using C#, WPF and ASP.NET.</p>
                    </div>
                    <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                        <div class="circle font-weight-bold">2</div>
                    </div>
                </div>
                <!--path between 2-3-->
                <div class="row timeline">
                    <div class="col-2">
                        <div class="corner right-bottom"></div>
                    </div>
                    <div class="col-8">
                        <hr/>
                    </div>
                    <div class="col-2">
                        <div class="corner top-left"></div>
                    </div>
                </div>
                <!--third section-->
                <div class="row align-items-center how-it-works d-flex">
                    <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                        <div class="circle font-weight-bold">3</div>
                    </div>
                    <div class="col-6">
                        <h5>Swansea University – BSc. Software Engineering</h5>
                        <p>First Class Honours Degree</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="jumbotron pb-0 mb-0 w-100 bg-dark">
        <div class="container">
            <div class="col-lg-6 col-lg-offset-3 text-center mx-auto pt-4">
                <h2 class="text-light mb-0"><span class="ion-minus"></span>Contact<span class="ion-minus"></span></h2>
            </div>
            <section class="divided clearfix bg-dark text-light">
                <div class="container p-0">
                    <div class="row py-3">
                        <div class="col col-12 col-sm-12 col-md-6 py-4 p-lg-5 p-xl-5">
                            <div class="p-3 p-md-5 p-lg-5 p-xl-5">
                                <form asp-controller="Home" asp-action="Send" method="post">
                                    <div class="form-group">
                                        <label for="email">Your email</label>
                                        <input type="email" class="form-control" name="email" placeholder="name@example.com">
                                    </div>
                                    <div class="form-group">
                                        <label for="title">Topic</label>
                                        <input type="text" class="form-control" name="title" placeholder="Topic">
                                    </div>
                                    <div class="form-group">
                                        <label for="content">Content</label>
                                        <textarea class="form-control" name="content" rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-secondary mb-2">Send</button>
                                </form>
                            </div>
                        </div>
                        <div class="versus">OR</div>
                        <div class="col col-12 col-sm-12 col-xs-12 col-md-6 py-4 p-lg-5 p-xl-5">
                            <div class="p-3 p-md-5 p-lg-5 p-xl-5">
                                <ul id="contactList" class="list-group list-group-flush pt-md-0 pt-lg-0 pt-xl-0">
                                    <li class="list-group-item text-light bg-dark">
                                        <a href="https://www.linkedin.com/in/kklosowski/"><i class="text-light fab fa-lg fa-linkedin pr-3"></i><span>LinkedIn</span></a>
                                    </li>
                                    <li class="list-group-item text-light bg-dark">
                                        <a href="https://github.com/kklosowski"><i class="text-light fab fa-lg fa-github-square pr-3"></i><span>Github</span></a>
                                    </li>
                                    <li class="list-group-item text-light bg-dark">
                                        <a href="https://facebook.com/kamil.artur.klosowski"><i class="text-light fab fa-lg fa-facebook-square pr-3"></i><span>Facebook</span></a>
                                    </li>
                                    <li class="list-group-item text-light bg-dark">
                                        <a href="~/files/Kamil Klosowski - CV.pdf"><i class="text-light fas fa-lg fa-file pr-3"></i><span>Resume</span></a>
                                    </li>
                                    <li class="list-group-item text-light bg-dark pr-0 d-flex d-inline-flex">
                                        <a href="mailto:kamil.klosowski@yahoo.com" class="d-flex d-inline-flex"><i class="text-light fas fa-lg fa-envelope pr-3"></i><span>kamil.klosowski@yahoo.com</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr/>
            <footer class="py-3 text-light text-center">
                <p>&copy; 2019 - klosowski.azurewebsites.net</p>
            </footer>
        </div>
    </div>
</div>