@model Portfolio.Models.HomeViewModel


<div class="jumbotron">
    <h1 class="display-4">Kamil Klosowski</h1>
    <p class="lead">Student, Web developer, aspiring Data Scientist.</p>
    <hr class="my-4">
    <p></p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="card-deck">
    @foreach (var project in Model.Projects)
    {
        <div class="card">
            <img class="card-img-top img-thumbnail" src="@project.ImageUrl" alt="Project Thumbnail">
            <div class="card-body">
                <h4 class="card-title"><a asp-controller="Project" asp-action="Index" asp-route-id="@project.Id">@project.Title</a></h4>
                <p class="card-text">@project.ShortDescription</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <a href="@project.GithubUrl">Github Link</a>
                </small>
            </div>
        </div>
    }
</div>
