@model List<Project>

@{
    ViewData["Title"] = "All";
}
<table class="table table-responsive-md table-hover">

    <thead>
        <tr>
            <th>Title</th>
            <th class="text-right pr-5">Options</th>
        </tr>
    </thead>

    @foreach (var project in Model)
    {
        <tr>
            <td>
                @project.Title
            </td>
            <td>
                <div class="btn-group btn-group-sm float-right" role="group">
                    <a class="btn btn-secondary" asp-controller="Project" asp-action="Edit" asp-route-id="@project.Id">Edit</a>
                    <a class="btn btn-secondary" asp-controller="Project" asp-action="Index" asp-route-id="@project.Id">Display</a>
                    <a class="btn btn-secondary" data-toggle="modal" data-target="#removeModal" data-title="@project.Title" data-id="@project.Id">Delete</a>
                </div>
            </td>
        </tr>
    }

    <tr>
        <td colspan="4" class="text-right">
            <a asp-controller="Project" asp-action="Index" asp-route-id="Create" class="nav-link pr-0">
                <button class="btn btn-secondary">Add new project</button>
            </a>
        </td>
    </tr>
</table>

<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeModalLabel">Do you want to delete this project?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" id="modalCancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form asp-controller="Project" asp-action="Delete">
                    <input id="idToDelete" name="Id" type="hidden" />
                    <button type="submit" class="btn btn-danger" id="modalConfirmed">Remove</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/modal-confirm.js"></script>
